<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Family Fabric</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% capture css %}
      {% include css/style.css %}
      {% endcapture %}
      <style>{{ css | cssmin | safe }}</style>
   </head>
   <body>
      <main>
         {{ content }}
      </main>
      {% capture js %}
      {% include js/index.js %}
      {% endcapture %}
      <script>
         {{ js | jsmin | safe }}
      </script>
   </body>
</html>
